<mat-toolbar color="primary">
    <span>Awesome Components</span>
    <ul>
        <li><a routerLink="/social-media">Social Média</a></li>
        <li><a routerLink="/complex-form">Complex Form</a></li>
        <li><a routerLink="/reactive-state">Reactive State</a></li>
        <li><a routerLink=""></a></li>
    </ul>
</mat-toolbar>
