<mat-card>
    <mat-card-header>
        <mat-card-title>
            <span highlight="red">{{post.title | titlecase}}</span>
        </mat-card-title>
        <mat-card-subtitle>
            <span>{{post.createdDate | timeAgo}}</span>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <img mat-card-image *ngIf="post.imageURL as imageURL" [src]="imageURL" [alt]="post.title">
        <span>{{post.content | shorten: 100}}</span>
    </mat-card-content>
    <mat-card-actions>
        <app-comments [comments]="post.comments" (newComment)="onNewComment($event)"></app-comments>
    </mat-card-actions>
</mat-card>
